.home-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.list-previews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
