module.exports = {
  dialer: {
      url: 'https://uni-call.fcc-online.pl',
      login: 'focus09',
      password: '89o2hjbfdgd'
  },
  agent_number: '',
  api: {
      prefix: '{{environment}}/api',
      url: 'http://ec2-54-93-213-15.eu-central-1.compute.amazonaws.com',
  },
  front: {
      url: ''
  }
}
