.navbar {
  display: grid;
  grid-auto-flow: row;
}

.navlist {
  list-style-type: none;
}

.navlink {
  color: black;
  text-decoration: none;
  border-left: 4px solid transparent;
  padding-left: 0.5rem;

  transition: border-left-color ease-in-out 0.4s;
}

.navlink--active {
  text-decoration: none;
  border-left: 4px solid lightblue;
  color: black;
  padding-left: 0.5rem;
}

.navlink:hover {
  text-decoration: none;
  border-left: 4px solid grey;

  transition: border-left-color ease-in-out 0.4s;
}

.navlink:active {
  text-decoration: none;
  border-left: 4px solid grey;
}
