.navbar {
  height: 95%;
  display: grid;
  grid-auto-flow: row;
  border-right: hsl(40, 75%, 60%) solid 2px;
  padding-right: 1rem;
  font-size: 1.5rem;
  position: sticky;
  top: 0px;
  max-height: 95vh;
}

.navlist {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.navlink {
  color: black;
  text-decoration: none;
  border-left: 4px solid transparent;
  padding-left: 0.5rem;

  transition: border-left-color ease-in-out 0.4s;
}

.navlink--active {
  text-decoration: none;
  border-left: 4px solid hsl(40, 75%, 60%);
  color: black;
  padding-left: 0.5rem;
}

.navlink:hover {
  text-decoration: none;
  border-left: 4px solid grey;

  transition: border-left-color ease-in-out 0.4s;
}

.navlink:active {
  text-decoration: none;
  border-left: 4px solid grey;
}
