.list-preview-container {
  display: grid;
  grid-template-rows: minmax(auto, 75%) minmax(min-content, 25%);
  min-height: 50px;
  max-height: 200px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: -1px 8px 19px -12px rgba(9, 9, 9, 1);
  transition: all ease-in-out 0.3s;
  overflow:hidden;
}

.list-preview-container:hover {
  /* transform: scale(1.05); */
  box-shadow: -1px 8px 25px -6px rgba(9, 9, 9, 1);
  transition: all ease-in-out 0.3s;
}

.list-preview {
  position: relative;
  overflow: hidden;
}

.glass-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 25%, 1) 100%);
}

.label {
  display: flex;
  font-size: large;
  max-height: 1.5rem;
  overflow: hidden;
}

.preview-list-element {
  padding: 1px;
}

.list-description-container {
  padding: 0.5rem;
  background: hsla(0, 0%, 25%, 1);
  color: hsl(0, 0%, 85%);
}

.date {
  font-size: x-small;
}

.items-container {
  padding: 1rem;
}
